.logo-blue,
.logo-black {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
}

.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: black;
}

body {
  font-family: Roboto;
  font-style: normal;
  color: #757575;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-primary {
  /* position: absolute; */
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.btn-list {
  /* position: absolute; */
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  background-color: #f5f4fa;
  border-radius: 5px;
}
.btn-list:hover {
  background-color: #2196f3;
}

.main-site-description > span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main-site-description > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
